@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F172A;
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-hind-siliguri), var(--font-inter), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
