@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F172A;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-siliguri), sans-serif;
  scroll-behavior: smooth;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

::selection {
  background-color: #2563EB44;
  color: #FFFFFF;
}